.storefront-breadcrumb {
  padding: 0 !important;
  margin-bottom: 0 !important;
  margin-top: calc(80px + 20px) !important;
  height: 50px;
}
.main__items {
  padding-top: 40px;
}
.main__item, ul.products .product.type-product {
  background-color: #FFF;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
  padding: 10px;
  border-radius: 5px;
}
ul.products .product.type-product {
  display: flex;
  flex-direction: column;
}
.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
  flex-grow: 1;
}
/*.woocommerce-LoopProduct-link.woocommerce-loop-product__link:hover {*/
/*  cursor: pointer !important;*/
/*}*/
.main__item__photo, .product.type-product img {
  width: 100%;
  height: 230px;
}
ul.products {
  display: flex;
  flex-wrap: wrap;
}
.main__item__title {
  font-size: 22px;
  margin: 10px 0;
}
.main__item__cont {
  height: 40px;
  line-height: 40px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.main__item__cont input[name="quantity"] {
  width: 100%;
  height: 100%;
  font-size: 17px;
  color: #2458A4;
  font-weight: 700;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
}
ul.products li.product div.quantity input:focus {
  background: none;
  border: none;
}

ul.products li.product div.quantity {
  width: 100%;
  padding-right: 10px;
}
/*.main__item__cont input[name="quantity"]:focus {*/
/*  background-color: transparent;*/
/*  border: none;*/
/*  box-shadow: none;*/
/*}*/
.woocommerce-Price-amount.amount {
  color: #2458A4;
}
.woocommerce-Price-currencySymbol {
  color: #2458A4;
}
.main__item__price {
  color: #2458A4;
  font-size: 25px;
  font-weight: 800;
}
.main__item__button, ul.products .product .added_to_cart {
  background-color: #2458A4 !important;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  font-weight: 800 !important;
  color: #FFF !important;
  border-radius: 5px !important;
  padding: 0 !important;
}
.main__item__button.done {
  background-color: #2C9408;
}
.main__item__button.done:before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  background-image: url('../../images/custom/ok.svg');
}
@media screen and (max-width: 768px) {
  ul.products .product.type-product {
    width: 300px;
    margin: 10px;
  }
  ul.products {
    padding: 10px;
  }
}