.checkout.woocommerce-checkout.order__form .form-row-wide {
  width: calc((100% / 3) - 20px);
}
.checkout-text {
  width: 60%;
}
#customer_details .woocommerce-account-fields {
  padding: 20px;
  padding-top: 0;
}
#order_review {
  background: none !important;
}
#order_review div.form-row.place-order {
  background: none !important;
}
button[name="woocommerce_checkout_place_order"] {
  background-color: #FFF !important;
  color: #2458A4 !important;
}
.order__form {
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.44);
  border-radius: 5px;
}
.order__form p.form-row input {
  padding: 10px;
  border: solid 1px #C9BBC8;
  border-radius: 5px;
  background-color: white;
}
.form-row.place-order {
  margin-top: 0 !important;
}
.order__form__cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.order__form__cont > div {
  width: calc((100% / 3) - 20px);
}
.order__form__cont > div:last-child {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 15px;
}
.order__form input[type="checkbox"] {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 10px;
}

.order__form__bottom {
  display: flex;
  align-items: flex-start;
  background-color: #DDE7EE;
  padding: 20px;
}
.order__form__submit {
  margin-left: 20px;
}

@media screen and (max-width: 1000px) {
  .order__form__cont > div {
    width: calc((100% / 2) - 20px);
  }
  .order__form__bottom {
    flex-wrap: wrap;
    justify-content: center;
  }
  order__form__bottom .checkout-text {
    width: 50% !important;
  }
  .order__form__submit {
    margin: 20px 0 0 0;
  }

}

@media screen and (max-width: 800px) {
  .order__form__cont {

  }
  .checkout.woocommerce-checkout.order__form .form-row-wide {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .order__form__cont > div {
    width: 100%;
  }
}
